﻿
@{
    ViewBag.Title = "Create";
}

<h2>Edit</h2>
<form action="" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    <input type="text" name="Email" value="@Model.Email" placeholder="Email" class="form-control" />
    <input type="text" name="Password" value="@Model.Password" placeholder="Password" class="form-control" />
    <input type="submit" class="btn btn-success" />
</form>